# Do not stage Kolla venv
.kolla-venv
filesystems/
filesystems/vnx_rootfs_kvm_ubuntu64-22.04-v025-kolla-compute1.qcow2
filesystems/vnx_rootfs_kvm_ubuntu64-22.04-v025-kolla-controller.qcow2
filesystems/vnx_rootfs_kvm_ubuntu64-22.04-v025-kolla-network.qcow2
