# Do not stage Kolla venv
.kolla-venv

# Do not stage images from nodes (.qcow2)
filesystems/
openstack-images/
images/
conf/terraform/terraform.tfstate.backup
conf/terraform/instance-module/.terraform.tfstate.lock.info
